<%- include('partials/header.ejs'); -%>

  <div class="box" id="heading">
    <h1>
      <%= listTitle %>
    </h1>
  </div>
  <div class="box">
    <!-- we get the listItems from the controller (which is passed from the database) and loop through each item to display it on the page. -->
    <% for(let item of listItems){%>
      <div class="item">
        <form action="/delete" method="post">
          <input type="checkbox" onchange="this.form.submit()" name="deleteItemId" value="<%= item.id %>">
        </form>


        <p id="title<%=item.id%>">
          <!-- this is the title of the item that is displayed on the page. taken from index.js file where we have passed the listItems to the view. -->
          <%= item.title %>
        </p>


        <form class="edit" action="/edit" method="post">
          <input type="hidden" name="updatedItemId" value="<%= item.id %>">
          <input id="input<%=item.id%>" type="text" name="updatedItemTitle" value="<%= item.title %>" autocomplete="off"
            autofocus="true" hidden="true" />
          <button id="done<%=item.id%>" class="edit" type="submit" hidden><img class="icon"
              src="/assets/icons/check-solid.svg" alt="tick image"></button>
        </form>
        <button id="edit<%=item.id%>" class="edit" onclick="handler('<%=item.id%>')"><img class="icon"
            src="/assets/icons/pencil-solid.svg" alt="pencil image"></button>
      </div>
      <% } %>

        <form class="item" action="/add" method="post">
          <input type="text" name="newItem" placeholder="New Item" autocomplete="off" autofocus="true" />
          <button class="add" type="submit" name="list" value=<%=listTitle %> >+</button>
        </form>
  </div>

  <script>
    function handler(id) {
      document.getElementById("title" + id).setAttribute("hidden", true)
      document.getElementById("edit" + id).setAttribute("hidden", true)
      document.getElementById("done" + id).removeAttribute("hidden")
      document.getElementById("input" + id).removeAttribute("hidden")
    }
  </script>
  <%- include('partials/footer.ejs'); -%>


    <!-- explaining the code: -->
    <!-- The code is a simple to-do list application. 
 The user can add items to the list, edit them, and delete them. 
 The user can also mark the items as done by checking the checkbox. 
 The list is displayed on the page with the title and the items. 
 The user can edit the items by clicking on the edit button, which will show an input field to edit the item. 
 The user can then click on the done button to save the changes. 
 The user can also delete the items by checking the checkbox and clicking on the delete button. 
 The user can add new items to the list by entering the item in the input field and clicking on the add button. 
 The list is stored in the database, and the changes are reflected on the page. 
 The code is written in EJS, which is a templating language for JavaScript. 
 The code is simple and easy to understand, making it a good example of a to-do list application. -->

    <!-- go deeper... -->
    <!-- The code is a simple to-do list application that uses EJS (Embedded JavaScript) as the templating engine.
    The code is divided into three parts: the header, the body, and the footer. 
    The header includes the title of the list, and the body includes the list items. 
    The list items are displayed with a checkbox, the title of the item, an edit button, and a delete button. 
    The user can edit the item by clicking on the edit button, which will show an input field to edit the item. 
    The user can then click on the done button to save the changes.
    The user can delete the item by checking the checkbox and clicking on the delete button.
    The user can add new items to the list by entering the item in the input field and clicking on the add button.
    The list is stored in the database, and the changes are reflected on the page.
    The code is simple and easy to understand, making it a good example of a to-do list application. -->